#cart-container {
  background-color: whitesmoke;
  height: auto;
  width: 60%;
  position: relative;
}

#cart-title {
  background-color: #002346;
  color: white;
  font-family: "Cairo";
  font-weight: bold;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2%;
}

#cart-table {
  padding: 2%;
}

#cart-row-title {
  color: #d6a937;
  font-size: 18px;
  font-weight: bold;
  font-family: "Cairo";
}

#cart-row {
  color: #003366;
  font-family: "Cairo";
}

#delete-button {
  color: #dc3545;
  border-radius: 100%;
  background-color: transparent;
  min-width: 0;
}

#delete-button:hover {
  background-color: #dc354633;
}

#checkout-button {
  margin-bottom: 2%;
  margin-left: 2%;
  background-color: #388e3c;
  color: white;
  font-family: "Cairo";
  border-color: transparent;
  padding: 0;
}

#start-total-rows {
  border-top: #003366 2px solid;
}

#end-total-rows {
  border-bottom: #003366 2px solid;
}
