.func-list {
  float: right;
}

/*Progress Bar Styles*/

#progress-bar {
  background-color: rgb(255, 255, 255, 0.7);
  border-radius: 12px;
  box-shadow: 10px 10px 32px 0px rgba(0, 0, 0, 0.71);
  font-size: 24px;
  width: 78%;
  margin: 0 auto;
  border: 2px solid #003366;
}

.progress-bar-labels {
  font-weight: bold;
  color: #003366;
  font-size: 13px;
  font-family: "Cairo";
}

.main-form {
  margin-right: 5%;
  display: flex;
  font-weight: bold;
  font-family: "Cairo";
  font-size: 14px;
  color: #003366;
  margin-left: 40%;
  width: 80%;
  /*background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0.71);*/
  border-radius: 30px;
  padding: 1%;
  padding-bottom: 48px;
  margin: 0 auto;
  margin-top: 2%;
  justify-content: center;
  position: relative;
  align-items: center;
}

.Card {
  align-items: center;
  text-align: center;
  color: #003366;
  font-weight: bold;
  font-size: 24px;
}

#userDetails-label {
  margin-left: 10px;
  display: flex;
  margin-right: 10px;
  text-align: right;
  margin-bottom: -8px;
  width: 100px;
  justify-content: flex-end;
  align-items: center;
}

#progress-bar-buttons {
  float: left;
  background-color: #003366;
  font-family: "Cairo";
  border-radius: 3px;
  width: 140px;
}

#progress-bar-buttons:disabled {
  background-color: #babbbd;
}

#progress-button {
  border-radius: 5px;
  background-color: #388e3c;
  color: whitesmoke;
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: -70px;
  margin-bottom: 2%;
  font-family: "Cairo";
  height: 36px;
  width: 140px;
}

#progress-button:disabled {
  background-color: #868686;
  color: rgb(70, 69, 69);
}

#add-secretary-button {
  border-radius: 5px;
  background-color: #388e3c;
  color: whitesmoke;
  font-size: 14px;
  font-weight: bold;
  margin-top: 3%;
  font-family: "Cairo";
  height: 36px;
  width: 140px;
}

.column {
  float: right;
  /*padding-bottom: 15px;*/
  /*padding-left: 25px;*/
  width: 100%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 40px 5px rgba(128, 127, 127, 0.71);
  border-radius: 12px;
  margin-bottom: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid #003366;
}

#main-form-titles {
  font-size: 28px;
  padding: 15px;
  padding-bottom: 57px;
  color: white;
  width: 100%;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  height: 60px;
  /*margin-bottom: 20px;*/
  border-bottom: 2px solid #003366;
  background-color: #003366;
}

#mainform-vertical-divider {
  height: 100%;
  background-color: #003366;
  margin-right: 30px;
  width: 2px;
}

#divider {
  color: #003366;
  background-color: #003366;
  margin-bottom: 3%;
  margin-top: 1%;
  height: 2px;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
}

#form-labels {
  display: flex;
  /*padding-bottom: 3%;*/
  margin-left: 25px;
}

#form-labels-column {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 3%;
}

#outlined-required {
  font-size: 14px;
  width: 300px;
  color: #003366;
  text-align: left;
  direction: ltr;
}

#outlined-required-label {
  font-size: 12px;
  font-family: "Cairo";
  transform: translate(10px, 8px) scale(1);
}

.floating-labels {
  color: #003366;
}

#confirm-form {
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  color: #003366;
  margin-left: 40%;
  width: 80%;
  background-color: rgb(255, 255, 255, 0.8);
  box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0.71);
  border-radius: 30px;
  padding: 5%;
  padding-bottom: 80px;
  margin: 0 auto;
  margin-top: 2%;
  justify-content: center;
  position: relative;
  text-align: center;
  font-family: "Cairo";
}

#confirm-form-details {
  float: right;
}

#confirm-form-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#confirm-divider {
  color: #003366;
  background-color: #003366;
  margin-bottom: 5%;
  margin-top: 5%;
  height: 2px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

#confirmation-list-item {
  padding: 5px;
}

#enrolling-form-field {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
